/.secrets/*
!/.secrets/README.md

**/*.log
**/*.map
**/*.pem
**/src/**/*.js
**/tests/**/*.js
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
.DS_Store
.cxx
.externalNativeBuild
.gradle
.husky/_/
.idea/*.local.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/libraries
.idea/modules
.idea/shelf
.idea/sonarlint
.idea/workspace.xml
build/
captures/
coverage/
dist/
local.properties
node_modules/
