!/.secrets/README.md
**/*.log
**/*.map
**/*.pem
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/*_override.tf
**/*_override.tf.json
**/.env*
**/.terraform/
**/override.tf
**/override.tf.json
**/src/**/*.js
**/tests/**/*.js
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
.DS_Store
.cxx
.env
.externalNativeBuild
.firebase/
.gradle
.husky/_/
.idea/*.local.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/libraries
.idea/modules
.idea/shelf
.idea/sonarlint
.idea/workspace.xml
.next/
/.secrets/*
build/
captures/
coverage/
dist/
local.properties
node_modules/
