/.secrets/*
!/.secrets/README.md

**/*.log
**/*.map
**/*.pem
**/src/**/*.js
**/tests/**/*.js
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
.DS_Store
.cxx
.externalNativeBuild
.gradle
.husky/_/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dataSources.local.xml
.idea/dataSources/*
.idea/httpRequests/*
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/modules/**/*
.idea/navEditor.xml
.idea/shelf/*
.idea/sonarlint/
.idea/sonarlint/*
.idea/workspace.xml
build/
captures/
coverage/
dist/
local.properties
node_modules/
