@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
}

.flex-2 {
	flex-grow: 2;
}

.flex-3 {
	flex-grow: 3;
}

.no-ring-color {
	--tw-ring-color: none !important;
}

@layer components {
	.custom-table {
		@apply table border-white w-full;

		th {
			@apply font-medium text-neutral-content;
		}

		th + th {
			@apply text-center;
		}

		tbody {
			tr {
				@apply border-b-neutral border-b;
			}
		}

		td {
			@apply text-neutral-content;
		}

		td + td {
			@apply text-center;
		}
	}

	.card-header {
		@apply font-semibold text-white text-xl pl-3;
	}

	.card-header-right {
		@apply font-semibold text-white text-xl pr-3;
	}

	.card-action-button {
		@apply btn py-2.5 rounded-full capitalize min-h-0 h-full leading-4;
	}

	.card-input {
		@apply input input-bordered rounded bg-neutral text-neutral-content;
	}

	.card-textarea {
		@apply textarea textarea-bordered rounded bg-neutral text-neutral-content;
	}

	.card-select {
		@apply select select-bordered rounded bg-neutral text-neutral-content;
	}

	.rounded-data-card {
		@apply mt-3.5 rounded-4xl w-full bg-base-200 py-8 px-16;
	}

	.analytics {
		@apply rounded-data-card flex justify-around;
	}

	.dialog-box {
		@apply modal-box p-0 border border-neutral max-w-[43rem];
	}

	.main-page {
		@apply mx-8 my-32;

		h1 {
			@apply text-2xl font-semibold text-base-content;
		}

		nav {
			@apply mt-3.5 w-full mb-8;
		}
	}

	.custom-datepicker > div > div > div {
		@apply bg-base-200 border-neutral #{!important};
	}
}
