@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
}

.flex-2 {
	flex-grow: 2;
}

.flex-3 {
	flex-grow: 3;
}

.no-ring-color {
	--tw-ring-color: none !important;
}

@layer components {
	.custom-table {
		@apply table border-white table-auto p-4 border-b;

		th {
			@apply text-sm text-neutral-content font-bold pb-2 text-center;
		}

		tbody {
			tr {
				@apply text-center text-xs;
			}
		}

		td {
			@apply text-neutral-content;
		}
	}

	.card-divider {
		@apply mt-8;
	}

	.card-section-divider {
		@apply mt-4;
	}

	.card-header {
		@apply font-medium text-base-content text-lg pl-3;
	}

	.card-action-button {
		@apply btn btn-sm rounded-full capitalize;
	}

	.card-input {
		@apply input  rounded bg-neutral text-neutral-content max-w-md disabled:bg-gray-600 disabled:cursor-not-allowed disabled:text-gray-400 disabled:opacity-50;
	}

	.card-textarea {
		@apply textarea rounded bg-neutral text-neutral-content disabled:bg-gray-600 disabled:cursor-not-allowed disabled:text-gray-400 disabled:opacity-50;
	}

	.card-select {
		@apply select select-bordered rounded bg-neutral text-neutral-content max-w-md disabled:bg-gray-600 disabled:cursor-not-allowed disabled:text-gray-400 disabled:opacity-50;
	}

	.rounded-data-card {
		@apply mt-3.5 rounded-4xl w-full bg-base-200 py-8 px-16;
	}
	.rounded-dark-card {
		@apply mt-3.5 rounded-4xl w-full bg-base-300 py-8 px-16 shadow-xl;
	}

	.analytics {
		@apply rounded-data-card flex justify-around;
	}

	.dialog-box {
		@apply modal-box p-0 border border-neutral max-w-[43rem];
	}

	.custom-datepicker > div > div > div {
		@apply bg-base-200  #{!important};
	}
	.page-content-container {
		@apply mx-auto  container  px-8 2xl:px-0 pb-8;
	}
}
