@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
}

.flex-2 {
	flex-grow: 2;
}

.flex-3 {
	flex-grow: 3;
}

.no-ring-color {
	--tw-ring-color: none !important;
}

@layer components {
	.card-divider {
		@apply md:mt-8 sm:mt-4;
	}

	.card-section-divider {
		@apply md:mt-4 sm:mt-2;
	}

	.card-header {
		@apply font-medium text-base-content text-lg pl-3;
	}

	.card-action-button {
		@apply btn btn-sm rounded-full capitalize;
	}

	.base-form-element {
		@apply rounded bg-neutral text-neutral-content max-w-md disabled:bg-gray-600 disabled:cursor-not-allowed disabled:text-gray-400 disabled:opacity-50;
	}

	.card-input {
		@apply input base-form-element;
	}

	.card-textarea {
		@apply textarea base-form-element;
	}

	.card-select {
		@apply select select-bordered base-form-element;
	}

	.rounded-data-card {
		@apply rounded-4xl w-full bg-base-200 md:px-16 md:pt-5 md:pb-5 md:mt-3.5 sm:px-8 sm:pt-3 sm:pb-3 sm:mt-2;
	}
	.rounded-dark-card {
		@apply mt-3.5 rounded-4xl w-full bg-base-300 px-16 shadow-xl;
	}

	.analytics {
		@apply rounded-data-card flex justify-around;
	}

	.dialog-box {
		@apply modal-box p-0 border border-neutral max-w-[43rem];
	}

	.custom-datepicker > div > div > div {
		@apply bg-base-200  #{!important};
	}
	.page-content-container {
		@apply mx-auto  container  px-8 2xl:px-0 pb-8;
	}
	.marketing-card {
		@apply card shadow-xl shadow-info-content hover:shadow-info rounded-4xl bg-base-300 text-base-content/90 hover:text-base-content transition-shadow duration-700;
	}

	.gradient-headline {
		@apply text-transparent bg-gradient-to-r from-base-content/50 via-base-content/90 to-base-content/50 hover:text-neutral-content transition-colors ease-in-out duration-500 bg-clip-text;
	}
}
